
body {
  margin: 0;
}

.search-container {
  z-index: 1;
  width: 100%;
  position: absolute;

}

.map-search-input {
  width: 80vw;
  max-width: 300px;
  margin: auto;
  margin-top: 2vh;
  display: block;
  box-shadow: 0px 5px 5px;
}

.map-search-input:focus {
  box-shadow: none;
  border-color: #ced4da;
}

.info-display {
  height: 40px;
  width: 100%;
  text-align: left;
  background-color: white;
  border: none;
}

.info-display:focus {
  outline: 0;
}

.icon-arrow {
  height: 20px;
  width: 20px;
  margin-left: 10px;
  margin-right: 5px;
}

#map {
  position: relative;
  height: calc(100vh - 40px);
  width: 100vw;
}